@model IEnumerable<VenueManagment.Models.Contacto>

@{
    ViewData["Title"] = "Index";
}

<h1></h1>

<p>
    <a asp-action="Create" class='btn btn-info text-white'>Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idContacto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idContacto">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idContacto">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
