@model IEnumerable<VenueManagment.Models.RazonSocial>

@{
    ViewData["Title"] = "Razon Social";
}

<h1></h1>

<p>
    <a asp-action="Create" class='btn btn-info text-white'>Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfc)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.metodoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usoCfdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cuenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rfc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metodoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usoCfdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cuenta.calle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idRazonSocial">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idRazonSocial">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idRazonSocial">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
